<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Expenses</title>
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">My Receipts</a></li>
                <li><a href="{% url 'create_category' %}">Create Category</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
                <li><a href="{% url 'account_list' %}">Accounts</a></li>
                <li><a href="{% url 'category_list' %}">Receipt - Categories</a></li>
                <li><a href="{% url 'create_receipt' %}">Create</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </nav>
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
        </footer>
    </body>
</html>
