{% extends 'base.html' %} 
     
{% block content %}
<h1>{{ title }}</h1>
<table>
    <thead>
        <th>Name</th>
        {% if title == 'Accounts' %}
            <th>Number</th>
        {% endif %}
        <th>Number of Receipts</th>
    </thead>
    <tbody>
        {% for object in objects %}
            <tr>
                <td>{{ object.name }}</td>
                <td>{{ object.receipts.all|length }}</td>
                {% if title == 'Accounts' %}
                    <td>{{ object.number }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
